.tasksPage__container {
  grid-template-columns: 1fr 1fr 1fr 1fr;

  gap: 1rem;
}

.taskPage_grid_item {
  height: 100vh;
  overflow: scroll;
}

.taskPage_grid_item_heading {
  margin-bottom: 2rem;
  border-bottom: 1px dotted gray;
}

.task__card {
  border-radius: 1rem;
}

.task__card:hover {
  transform: scale(1.05);
  border-color: rgba(249, 249, 249, 0.8);
}

@media screen and (max-width: 750px) {
  .tasksPage__container {
    grid-template-columns: 1fr;
  }
}

.timerImagePlant {
  opacity: 1;
}

.timerImageTree {
  opacity: 0;
}

.timerImagePlant__hide {
  opacity: 0;
  transition: all 1s;
}

.timerImageTree__show {
  opacity: 1;
  transition: all 1s;
}

.pomodoro-app__preferences {
  background: none;
  border: 0;
  transition: transform 0.15s ease-in-out;
  cursor: pointer;
  margin: auto;
}

.pomodoro-app__preferences:hover {
  transform: scale(1.4) rotate(45deg);
}

.taskCard__link:hover {
  transform: scale(1.05);
  /* text-decoration: underline; */
}

.taskCard__link {
  padding: 0.5rem 1rem;
  border: 1px solid white;
  border-radius: 8px;
  color: white;
}
